{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block body %}
  <div class="header-margin"></div>
  <div class="container">
  {% if notification %}
    <div class="alert alert-success" role="alert">
      {{ notification }}
    </div>
  {% endif %}
    {{ form_start(form) }}
    <div class="container">
      <div class="row">
        <div class="col-md-6">{{ form_row(form.firstname) }}</div>
        <div class="col-md-6">{{ form_row(form.lastname) }}</div>
      </div>
      <div class="row">
        <div class="col-md-12">{{ form_row(form.email) }}</div>
        <div class="col-md-12">{{ form_row(form.old_password) }}</div>
        <div class="col-md-12">{{ form_row(form.new_password) }}</div>
        <div class="col-md-6">{{ form_row(form.age) }}</div>
      </div>
      <div class="col-md-12 mt-3">{{ form_row(form.envoyer ) }}</div>
      <a href="{{ path('account') }}" class="btn btn-danger">retour</a>
    </div>
  </div>
  </div>
{% endblock %}
