{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}
    <div class="header">
        <img class="shin translate" data-speed="" src="./image/shin-mobile.png" alt="">
        <img class="lune translate" data-speed="1" src="./image/lune.png" alt="">
        <img class="lune-rouge translate" data-speed="1" src="./image/lune-rouge.png" alt="">
        <div class="shadow">
        </div>
    </div>
<section class="section1-home  ">
  <div class=" container">
    <div class="row" >
        {% for h in home  %}
        <div class="col-md-6 img1  " >
            <img class="selection1-home-img"  src="./image/{{ h.section1Image }}" alt="">
       </div>
        <div class="col-md-6 ">
            <div class="selection1-home-text parallel text-left">
                <span>{{ h.section1Titre }}</span>
                <p>
                    {{ h.section1Text }}
                </p>
            </div>
        </div>
        </div>
    </div>

</section>
<section class="section2-home mb-5 ">
    <div class="a section2-home-anim"></div>
    <div class="b section2-home-anim container"><h2>{{ h.section2Titre }}</h2><p>{{ h.section2Text1 }}</p></div>
    <div class="c section2-home-anim"></div>
    <div class="d section2-home-anim"></div>
    <div class="e section2-home-anim container"><div class="container"><p>{{ h.section2Text2 }}</p></div></div>
    <div class="f section2-home-anim"></div>
    <div class="g section2-home-anim"></div>
    <div class="h section2-home-anim"></div>
</section>
    {% endfor %}
    <div class="pl-4 pt-1 pb-5"> <h2>Nouveauté Produit</h2></div>
    <div class="pt-3">

        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                {% for slide in slider %}
                <div class="swiper-slide"> <a href="{{ path('product-slug',{'slug':slide.slug }) }}"><img src="/uploads/{{ slide.illustration }}" alt="" class="img-fluid"></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
     <div class="mt-5"></div>
{% endblock %}



