{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block header %}{% endblock %}
{% block body %}

    <div class=" scarlets">
        <img class="scarlet1" src="./image/scarlet1.png" alt="">
        <img class="scarlet2" src="./image/scarlet2.png" alt="">
    </div>
    <div class="form-register">
        {% if notification %}
            <div class="alert alert-success" role="alert">
                {{ notification }}
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="container">
            <div class="row">
                <div class="col-md-6">{{ form_row(form.firstname) }}</div>
                <div class="col-md-6">{{ form_row(form.lastname) }}</div>
            </div>
            <div class="row">
                <div class="col-md-12">{{ form_row(form.email) }}</div>
                <div class="col-md-12">{{ form_row(form.password) }}</div>
                <div class="col-md-6">{{ form_row(form.age) }}</div>
                <div class="d-flex justify-content-center align-items-center pt-3">
                    <a class="btn  btn-light " data-toggle="modal" data-target=".bd-example-modal-lg">Large modal
                    </a>
                </div>
            </div>
            <div class="col-md-12 mt-3">{{ form_row(form.envoyer ) }}</div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg  ">
            <div class="modal-content" style="color: #3c3c3d">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-12">{{ form_row(form.avatar) }}</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
