{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}
    <div class="header-margin"></div>
    <div class="container mt-5">
        <div class="row mb-2">
            {% for new in news %}
                <div class="col col-md-12 ">
                    <div class="articles row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col-md-8 p-4 d-flex flex-column position-static">
                            <h3 >{{ new.title }}</h3>
                            <div class="article mt-3">
                              {{ new.content }}
                            </div>
                            <div class=" text-info">{{ new.createdAt|date("d/m/Y") }}</div>
                            <br>
                            <a href="{{ path('news-view',{'title':new.title }) }}" type="button"
                               class="btn btn-sm btn-success" style="width: 30%">Lire la suite</a>
                        </div>
                        <div class="col-4 d-none d-lg-block ">
                            <img class="img-fluid float-right" style="height: 30vh ;width: auto"
                                 src="/uploads/{{ new.illustration }}" alt="">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
