<html>
<head>
    <meta charset="UTF-8">
    {% block stripe %}{% endblock %}
    {% block analytics %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8MN5JRYZG7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-8MN5JRYZG7');
        </script>
    {% endblock %}

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS only -->
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="body-dark"  id="body">

<header>
    {% if app.request.get('_route') == 'home' %}
        <a id="logo" class="logo" href="{{ path('home') }}">
                <span class="span1">RE</span><span class="span2">ANIME</span>
        </a>

    {% else %}
        <a id="logo" href="{{ path('home') }}"><h1>
                <span class="span1">RE</span><span class="span2">ANIME</span></h1>
        </a>
    {% endif %}
    <nav class="sidebar " >
        <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="nav-list">
            {%  if app.user %}
            <li class="user-sidebar ">
                <a href="{{ path ('account') }}">
                    <img class="sidebar-img" src=" {{ app.request.schemeAndHttpHost }}/profil_photo/{{ app.user.avatar }}" alt="">
                </a> <div class="account-sidebar">
                    <h2>{{ app.user.firstname }}</h2>
                </div>
            </li>
            {% endif %}
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('products') }}" class="nav-link">Boutique</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('anime') }}" class="nav-link">Anime</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('news') }}" class="nav-link">Actualité</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link">Nous Contacter</a>
            </li>
            <li class="mt-1 d-flex justify-content-center">
                {% if app.user %}
                    <a href="{{ path('cart') }}"><i class="fas fa-shopping-basket ml-3 awsome awsome-side"></i></a>
                    <a href="{{ path ('app_logout') }}"><i class="far fa-sign-out-alt ml-3 awsome awsome-side"></i></a>
                {% else %}
                    <div class="col">
                        <div class=" text-center pb-4 pt-2">
                            <a href="{{ path ('register') }}" class="ml-2 " style="color: white">inscription</a>  <a href="{{ path ('app_login') }}" class="ml-2 btn btn-success">connexion  </a>
                        </div>
                        <div class="text-center pt-4">
                            <a href="{{ path('cart') }}"><i class="fas fa-shopping-basket ml-3 awsome awsome-side"></i></a>
                        </div>
                    </div>
                {% endif %}
            </li> </ul>
            <li id="switch">
                <label class="switch">
                    <input class="dark" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </li>

    </nav>
</header>
<main role="main" data-barba="container" data-barba-namespace="home">
    {% block body %}
    {% endblock %}
</main>
<footer>
    <div class="footer">
        <div class="footer-div">
            REANIME  YOUSFI Ramzi ©
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% if block('videojs') is defined %}
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet"/>
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
{% endif %}


</body>
</html>
