<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- CSS only -->
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
<header>
    <a id="logo" href="{{ path('home') }}"><h1>
            <span class="span1">RE</span><span class="span2">FLIX</span></h1>
    </a>
    <nav class="sidebar">
        <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
        <ul class="nav-list">
            <li class="user-sidebar ">
                <img class="sidebar-img" src="img.jpg" alt="">
                <div class="account-sidebar">
                    <h2>Ramzi</h2>
                </div>
            </li>
            <li class="nav-item">
                <a href="{{ path('home') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('products') }}" class="nav-link">Boutique</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('anime') }}" class="nav-link">Anime</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Nous Contacter</a>
            </li>
            <li >
                {% if app.user %}
                    <a href="{{ path ('account') }}"><i class="fas fa-user i"></i></a>
                    <span class="ml-1" style="color: white">{{  app.user.firstname }}</span>
                    <a href="{{ path('cart') }}"><i class="fas fa-shopping-basket ml-3 "></i></a>
                    <a href="{{ path ('app_logout')}}"><i class="far fa-sign-out-alt ml-3 "></i></a>
                {% else %}
                    <a href="{{ path ('app_login')}}" class="ml-2 ">connexion  </a>
                    <br>
                    <a href="{{ path ('register')}}" class="ml-2 ">inscription</a>
                {% endif %}
            </li>
        </ul>
    </nav>

</header>
    <main role="main">
{% block body %}
{% endblock %}
    </main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
    {% if block('videojs') is defined  %}
        <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
        <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    {% endif %}
</body>
</html>
