{% extends 'base.html.twig' %}

{% block title %}mes commandes {% endblock %}


{% block body %}
    <div class="header-margin"></div>
<h1>mon recap</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <strong>mon address de livraison</strong> <br/>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>
            <hr>
            <div>
                <strong>mon transporteur</strong> <br>
                <div class="form-check mt-4">
                    <div class="row">
                    <div class="col-md-2 pt-2">
                        <img src="/uploads/{{ carrier.illustration }}" alt="" style="height: 75px"
                             class="img-fluid">
                    </div>
                    <div class="col-md-10">
                        {{ carrier.name }}<br>
                        {{ carrier.description }}<br>
                        {%  if  carrier.price > 0 %}
                            {{ ((carrier.price /100))|number_format(2,'.',',') }} €
                        {% else %}
                            gratuit
                        {% endif %}
                    </div>

                </div></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mt-2 mb-4 text-center">
                <b>Ma commande </b>
            </div>
            <div class="order-sammary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ product.product.illustration }}" alt="" style="height: 75px"
                                 class="img-fluid">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br/>
                            <small>
                                X {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.quantity *product.product.price)/100)|number_format(2,'.',',') }} €
                        </div>
                    </div>
                    {% set total = total +(product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong> Sous-Total : </strong>{{ (total/100)|number_format(2,'.',',') }} €
            <hr>
            <strong> Livraison : </strong>{{ ((carrier.price /100))|number_format(2,'.',',') }} €
            <hr>
            <strong> Total : </strong>{{ ((carrier.price /100) + (total/100))|number_format(2,'.',',') }} €
            <hr>
            <a  class="btn btn-success btn-block mt-3" id="checkout-button"> payer  |  {{ ((carrier.price /100) + (total/100))|number_format(2,'.',',') }} €</a>
        </div>
    </div>
</div>
    {% block stripe %}
        <script src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript">
        var _stripe = Stripe("pk_test_51Imf9aHkgexrIntIfain65CGPVLQ3oKxAG6vwVOhUpafmHTKm9rUndN7m8tuw2a5L4bNE9dCV2yhLcTcTwxagpee00WvUqlSJ6");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
        fetch("/commande/create-session/{{reference}}", {
        method: "POST",
        })
        .then(function (response) {
        return response.json();
        })
        .then(function (session) {
        if (session.error == 'order'){
        return window.location.replace('{{ path('order') }}');
        }else {
        return _stripe.redirectToCheckout({ sessionId: session.id });
        }

        })
        .then(function (result) {
        // If redirectToCheckout fails due to a browser or network
        // error, you should display the localized error message to your
        // customer using error.message.
        if (result.error) {
        alert(result.error.message);
        }
        })
        .catch(function (error) {
        console.error("Error:", error);
        });
        });
        </script>
    {% endblock %}

{% endblock %}

